<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.crisys.cs.umn.edu/safety/Safety"
       class = "edu.umn.cs.crisys.safety.TransformAgreeProgram"
       genModel = "edu/umn.cs.crisys/safety/Safety.genmodel" > 
	</package>
  </extension>
 
 
 <?This needs to be changed...?>
  <extension
        point="org.osate.pluginsupport.aadlcontribution">
     <aadlcontribution
           file="resources/Linearizer.aadl"
           id="com.rockwellcollins.atc.agree.aadlcontribution2">
     </aadlcontribution>
  </extension>




</plugin>

