<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="com.rockwellcollins.atc.agree.analysis.agreeautomater">
    <agreeautomater  
       class = "edu.umn.cs.crisys.safety.safety.SafetyPackage"
       id = "agreeautomater"
       pluginName = "agreeautomater"> 
	</agreeautomater>
  </extension>




</plugin>
