<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Safety Analysis"
            id="edu.umn.cs.crisys.safety.analysis.commands.category">
      </category>
      <!-- New command for menu item (Soteria) -->
       <command
           name="Generate Minimal Cut Sets"
           categoryId="edu.umn.cs.crisys.safety.analysis.commands.category"
           id="edu.umn.cs.crisys.safety.analysis.commands.soteriaCommand">
     </command>
      <command
            name="Verify in the presence of faults"
            categoryId="edu.umn.cs.crisys.safety.analysis.commands.category"
            id="edu.umn.cs.crisys.safety.analysis.commands.safetyAnalysisCommand">
      </command> 
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.umn.cs.crisys.safety.analysis.commands.safetyAnalysisCommand"
            class="edu.umn.cs.crisys.safety.analysis.handlers.VerifyHandler">
      </handler>
      <!-- New handler for menu item (Soteria) -->
      <handler
            commandId="edu.umn.cs.crisys.safety.analysis.commands.soteriaCommand"
            class="edu.umn.cs.crisys.safety.analysis.handlers.SoteriaGenHandler">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <!-- New key for menu item (Soteria) -->
      <key
            commandId="edu.umn.cs.crisys.safety.analysis.commands.soteriaCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="edu.umn.cs.crisys.safety.analysis.commands.safetyAnalysisCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="AGREE"
               mnemonic="g"
               id="com.rockwellcollins.atc.agree.analysis.menus.main">
           <separator
                 name="com.rockwellcollins.atc.safety.separator1"
              visible="true">
           </separator>
          <command
                  commandId="edu.umn.cs.crisys.safety.analysis.commands.soteriaCommand"
                  mnemonic="f"
                  icon="icons/layers.png"
                  id="edu.umn.cs.crisys.safety.analysis.menus.soteriaCommand"
                  style="push">
            </command>
            <command
                  commandId="edu.umn.cs.crisys.safety.analysis.commands.safetyAnalysisCommand"
                  mnemonic="S"
                  id="edu.umn.cs.crisys.safety.analysis.menus.safetyAnalysisCommand"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.umn.cs.crisys.safety.analysis.toolbars.sampleToolbar">
           <command
                  commandId="edu.umn.cs.crisys.safety.analysis.commands.soteriaCommand"
                  icon="icons/sample.gif"
                  tooltip="Minimal cut set results are generating."
                  id="edu.umn.cs.crisys.safety.analysis.toolbars.soteriaCommand">
            </command>
            <command
                  commandId="edu.umn.cs.crisys.safety.analysis.commands.safetyAnalysisCommand"
                  icon="icons/sample.gif"
                  tooltip="Safety analysis results are generating."
                  id="edu.umn.cs.crisys.safety.analysis.toolbars.safetyAnalysisCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.osate.ui.analysesOutlinePopup?after=additions">
         <menu
               id="com.rockwellcollins.atc.agree.analysis.menus.main"
               label="Safety Annex"
               mnemonic="g">
            <separator
                  name="com.rockwellcollins.atc.safety.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="edu.umn.cs.crisys.safety.analysis.commands.soteriaCommand"
                  icon="icons/layers.png"
                  id="edu.umn.cs.crisys.safety.analysis.menus.soteriaCommand"
                  mnemonic="f"
                  style="push">
            </command>
            <command
                  commandId="edu.umn.cs.crisys.safety.analysis.commands.safetyAnalysisCommand"
                  id="edu.umn.cs.crisys.safety.analysis.menus.safetyAnalysisCommand"
                  mnemonic="S"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
         point="com.rockwellcollins.atc.agree.analysis.agreeautomater">
      <agreeautomater
            class="edu.umn.cs.crisys.safety.analysis.transform.AddFaultsToAgree"
            id="TransformAgree"
            pluginName="TransformAgree">
      </agreeautomater>
   </extension>

</plugin>
